{% extends "base.html" %}


{% block body %}
<body style="background-color: aqua;">
    <div class="container p-4" style="text-align: center; width: 50%; margin: 10rem auto; border: none;  border-radius: 10px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 500; background: linear-gradient(40deg, rgb(19, 229, 229) 30%, white)">
        <h1>WELCOME TO DENZY BLOG</h1>
        <div>
            <a class="btn btn-outline-dark" style="width: 8rem;" href="{%  url 'login' %}">Log in</a>
            <a class="btn btn-outline-dark" style="width: 8rem;" href="{%  url 'register' %}">Sign up</a>
        </div>
        
    
    </div>
{% endblock body %}